* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Roboto", sans-serif;
    max-width: 1080px;
  }

  #card, #secret-card{
    /* background-color: aqua; */
    margin: 20px 20px;
  }

  h1{
    margin-top: 35px;
    margin-bottom: 35px;
  }

  #nocierto{
    margin-bottom: 0px;
  }

  #yes{
    max-width: 50%;
    margin-bottom: 30px;
  }

  #reject{
    max-width: 40%;
    margin-bottom: 20px;
  }

  .p1{
    margin-bottom: 0;
  }

  .final-line{
    margin-bottom: 20px;
  }

  #sunflora{
    max-width: 90%;
    margin-bottom: 20px;
  }

  #parati{
    max-width: 50%;
    margin-bottom: 20px;
  }

  #kiss{
    max-width: 50%;
    margin-bottom: 5px;
  }

  #little{
    font-size: 88%;
  }